body {
    background: #2c2c2c;
    color: #fff;
}

aside {
    float: left;
    width: 20%;
    background: #181818;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside .logo {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
}

aside h3 {
    margin-top: 50px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-top: 5px;
    color: #fff;
    display: block;
    transition: transform .6s ease;
}

aside ul a {
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}